* {
  margin: unset;
}

/*Applayout*/
.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/*Header*/
.header {
  background-color: #b8ecff;
  color: dodgerblue;
  padding: 2rem;
  text-align: center;
}

/*Minimap*/
.map-view {
  position: relative;
  width: 100%;
}

.ol-overviewmap .ol-overviewmap-map {
  width: 200px;
  height: 200px;
  border: 2px solid dodgerblue;
}

.ol-overviewmap .ol-overviewmap-box {
  border: 3px solid dodgerblue;
}

.ol-overviewmap button {
  width: auto;
  padding: 0 10px;
  font-size: 0.9rem;
}

/*Sidebar*/
.sidebar {
  align-items: stretch;
  width: 250px;
  padding: 1rem;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-right: 4px solid #b8ecff;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

/*Sidebar control*/
.control-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10px;
  text-align: center;
  border: solid 2px #b8ecff;
}

.undo-or-delete-panel {
  display: flex;
  gap: 0.5rem;
}

/*Layerselect*/
.layer-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  transition: background 0.2s ease;
}

.layer-option:hover {
  background-color: #b8ecff;
}

.layer-select-wrapper {
  position: relative;
  width: 100%;
}

.layer-select-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: white;
  border: 2px solid #b8ecff;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.layer-select-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  border: 1px solid #b8ecff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  font-size: small;
}

/*Sidebar buttons*/
.sidebar-button {
  padding: 0.5rem 1rem;
  background-color: white;
  border: 2px solid #b8ecff;
  border-radius: 4px;
  color: dodgerblue;
  cursor: pointer;
  transition:
    background 0.2s ease,
    transform 0.1s ease;
  width: 100%;
  text-align: center;
}

.sidebar-button:hover {
  background-color: #b8ecff;
  transform: scale(1.02);
}

/*Overlay*/
.overlayDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: solid 3px #b8ecff;
  padding: 0.2rem;
  border-radius: 1rem;
  font-size: 12px;
}

.overlayIcon {
  width: 24px;
  height: 24px;
  margin-bottom: 0.5rem;
}

.cluster-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem 1rem;

  color: dodgerblue;

  background-color: white;
  cursor: pointer;
  width: 100%;
}

.cluster-label {
  color: dodgerblue;
  font-size: small;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
